[package]
authors = ["Nick Babcock <nbabcock19@hotmail.com>"]
license = "MIT"
name = "rrrocket"
repository = "https://github.com/nickbabcock/boxcars"
version = "0.2.14-pre"
publish = false
description = "Rocket League Replay parser to JSON CLI app"

[dependencies]
failure = "0.1.5"
serde_json = "1"
structopt = "0.2"
rayon = "1"
boxcars = "0.3.3"
globset = "0.4"

[dev-dependencies]
assert_cmd = "0.11"
predicates = "1"
